{% extends 'base.html' %}
{% block title %} API Data {% endblock %}

{% block content %}
<h1> Api List </h1>
    <style>
        td {
            width: auto;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>

<button onclick ="fetchData()">Fetch Data</button>

<form method="POST" action="/details">
    <label for="filter">Filter By:</label>
    <select name="filter" id="filter">
        <option value="date" {% if selected_filter == 'date' %} selected {% endif %}>Published Date </option>
        <option value="source" {% if selected_filter == 'source' %} selected {% endif %}>Source</option>
    </select>

    <label for="filterValue">Enter Value:</label>
    <input type="text" name="value" id="filterValue" placeholder="Enter value " value="{{ filter_value }}">
    <input type="submit" value="Apply Filter">

</form>

<br/><br/>
    <table  id='dataTable' style="display:none;">
        <thead>
            <tr>
                <th>Source</th>
                <th>title</th>
                <th>PublishedDate</th>
                <th>unique_id</th>
            </tr>
            </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td> {{ row[2] }} </td>
                <td><a href ="{{row[3]}}" target="_blank">{{row[3]}}</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not data %}
     <p> No results found for the filter criteria. </p>
    {% endif %}

<script>
    function fetchData(){
        return document.getElementById('dataTable').style.display = 'table'
    }
</script>


{% endblock %}
