{% extends 'base.html' %}
{% block title %}News Details{% endblock %}

{% block content %}

<div class="mb-3">
    <form action="/details" method="POST" class="d-inline">
        <button type="submit" name="fetch_data" class="btn btn-success">Fetch Data</button>
    </form>

    <form action="/details" method="POST" class="d-inline ms-2">
        <button type="submit" name="display_data" class="btn btn-info">Display All</button>
    </form>
</div>

<div class="mb-3">
    <form action="/details" method="POST" class="row g-3 align-items-center filter-controls">
        <div class="col-md-3">
            <select name="filter_type" class="form-select" onchange="updatePlaceholder()" id="filter-select">
                <option value="">-- Filter Type --</option>
                <option value="keywords">Keyword</option>
                <option value="source">Source</option>
                <option value="date">Date</option>
            </select>
        </div>

        <div class="col-md-5">
            <input type="text" name="filter_input" id="filter-input" class="form-control" placeholder="Enter value..." style="display:none;" />
        </div>


        <div class="col-md-2">
            <button type="submit" name="filter_data" class="btn btn-warning" id="filter-button" >Filter</button>
        </div>
    </form>
</div>

<div class="mb-3">
    <button class="btn btn-secondary" id="add-filter-btn" style="margin-top: 10px" onclick="toggleSecondFilter()">Add Filter</button>
</div>

<form action="/details" method="POST" class="row g-3 align-items-center" style="display:none;" id="second-filter-form">
    <div class="col-md-3">
        <select name="second_filter_type" class="form-select" onchange="updatePlaceholder('second-filter-select', 'second-filter-input','apply-filter-btn')" id="second-filter-select">
            <option value="">-- Filter Type --</option>
            <option value="keywords">Keyword</option>
            <option value="source">Source</option>
            <option value="date">Date</option>
        </select>
    </div>

    <div class="col-md-5">
        <input type="text" name="second_filter_input" id="second-filter-input" class="form-control" placeholder="Enter value..." style="display:none;" oninput="validateSecondFilter()" />
    </div>
    <div class="col-md-2">
        <button type="submit" name="apply_filters" class="btn btn-warning" id="apply-filter-btn" >Apply Filter</button>
    </div>
</form>


{% if message %}
    <div class="alert alert-danger mb-3" role="alert" style="margin-top: 15px;">
        {{ message }}
    </div>
{% endif %}

{% if filter1_message %}
    <div class="alert alert-info mb-3" role="alert">
        {{ filter1_message }}
    </div>
{% endif %}

{% if filter2_message %}
    <div class="alert alert-info mb-3" role="alert">
        {{ filter2_message }}
    </div>
{% endif %}


<h3 class="mb-3 text-info" style="margin-top: 20px;">
    {% if data and data|length < 20 %}
        Showing Latest Fetched News
    {% else %}
        Showing All News from Database
    {% endif %}
</h3>

{% if data %}
<table class="table table-bordered table-striped text-center" style="margin-bottom: 20px" >
    <thead class="table-dark">
        <tr>
            <th>Source</th>
            <th>Title</th>
            <th>Published Date</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td><a href="{{ row[3] }}" title='{{row[3]}}' target="_blank">Read More</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data available. Please fetch first.</p>
{% endif %}

<script>

function validateApplyFilterButton() {
    const filterSelect = document.getElementById('filter-select');
    const filterInput = document.getElementById('filter-input');
    const secondFilterSelect = document.getElementById('second-filter-select');
    const secondFilterInput = document.getElementById('second-filter-input');
    const applyBtn = document.getElementById('apply-filter-btn');

    const isFirstFilterValid = filterSelect.value && filterInput.value.trim();
    const isSecondFilterValid = secondFilterSelect.value && secondFilterInput.value.trim();

    applyBtn.disabled = !(isFirstFilterValid && isSecondFilterValid);
    applyBtn.style.display = isSecondFilterValid ? 'inline-block' : 'none';
}


function updatePlaceholder(selectId, inputId, buttonId) {
    const select = document.getElementById(selectId);
    const input = document.getElementById(inputId);
    const applyFilterButton = document.getElementById('apply-filter-btn');

    input.style.display = select.value ? 'inline' : 'none';
    input.placeholder = select.value ? 'Enter' + select.options[select.selectedIndex].text + '...' : '';
    if (select.value) {
        input.focus();
    }
    if (buttonId === 'filter-button') {
        validateFilter(selectId, inputId, buttonId);
    } else if (buttonId === 'apply-filter-btn') {
        applyFilterButton.style.display = select.value && input.value.trim() ? 'inline-block': 'none';
    }

}

function validateFilter(selectId, inputId, buttonId) {
    const select = document.getElementById(selectId);
    const input = document.getElementById(inputId);
    const button = document.getElementById(buttonId)
    button.disabled = !(select.value && input.value.trim());
    validateApplyFilterButton();
}

// toggle the visibility of the second filter form.
function toggleSecondFilter() {
    const secondFilterForm = document.getElementById('second-filter-form');
    const secondFilterInput = document.getElementById('second-filter-input');
    const applyFilterButton = document.getElementById('apply-filter-btn');

    secondFilterForm.style.display = 'flex';
    secondFilterInput.style.display = secondFilterForm.querySelector('select').value ? 'inline': 'none';
    applyFilterButton.style.display = secondFilterForm.querySelector('select').value && secondFilterInput.value.trim() ? 'inline-block' : 'none';

}

function validateSecondFilter() {
    const type2Select = document.getElementById('second-filter-select');
    const input2 = document.getElementById('second-filter-input');
    const applyBtn = document.getElementById('apply-filter-btn');

    const isSecondFilterValid = type2Select.value && input2.value.trim();

    applyBtn.style.display = isSecondFilterValid ? 'inline-block' : 'none';
    validateApplyFilterButton();
}

// handle enabling / disabling filter button based on first filter input.
document.getElementById('filter-select').addEventListener('change', () => updatePlaceholder('filter-select', 'filter-input', 'filter-button'));
document.getElementById('filter-input').addEventListener('input', () => validateFilter('filter-select', 'filter-input', 'filter-button'));
document.getElementById('second-filter-select').addEventListener('change', () => {
    updatePlaceholder('second-filter-select','second-filter-input','apply-filter-btn');
    validateApplyFilterButton();
});
document.getElementById('second-filter-input').addEventListener('input', validateSecondFilter);

document.addEventListener('DOMContentLoaded', () => {
    const filterButton = document.getElementById('filter-button');
    if (filterButton) {
        filterButton.disabled = true;
    }
    const applyFilterButton = document.getElementById('apply-filter-btn');
    if(applyFilterButton) {
        applyFilterButton.style.display = 'none';
        applyFilterButton.disabled = true;
    }
});


//reset filters
function resetFilterInputs() {
    document.getElementById('filter-select').value = '';
    document.getElementById('filter-input').value = '';
    document.getElementById('second-filter-select').value = '';
    document.getElementById('second-filter-input').value = '';
    const filterButton = document.getElementById('filter-button');
    if (filterButton) {
        filterButton.disabled = true;
    }
    const applyFilterButton = document.getElementById('apply-filter-btn');
    if (applyFilterButton) {
        applyFilterButton.style.display = 'none';
        applyFilterButton.disabled = true;
    }
    const secondFilterFom = document.getElementById('second-filter-form');
    secondFilterFom.style.display = 'none';
}

</script>
{% endblock %}