{% extends 'base.html' %}
{% block title %} API Data {% endblock %}

{% block content %}
<h1> Api List </h1>
    <style>
        td {
            width: auto;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>
<form action="/details" method="POST">
    <button type="submit" name="fetch_data">Fetch Data</button>
</form>

<form action="/details" method="GET">
    <button type="submit" name="display_data">Display All</button>
</form>

{% if message %}
    <p style="color:red;">{{ message }}</p>
{% endif %}

<br/><br/>
{% if data %}
    <table>
        <thead>
            <tr>
                <th>Source</th>
                <th>title</th>
                <th>PublishedDate</th>
                <th>unique_id</th>
            </tr>
            </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td> {{ row[2] }} </td>
                <td><a href ="{{row[3]}}" target="_blank">{{row[3]}}</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No data available yet. Click 'Fetch Data' to fetch the latest news. </p>
    {% endif %}

    <h2>
        {% if data and data|length < 20 %}
            Showing Latest Fetched News
        {% else %}
            Showing All News from Database
        {% endif %}
    </h2>
    
{% endblock %}
