{% extends 'base.html' %}
{% block title %} API Data {% endblock %}

{% block content %}
<h1> Api List </h1>
    <style>
        td {
            width: auto;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }
    </style>

    <button onclick="fetchData()">Fetch Data</button>

    <table  id='dataTable' style="display: none;">
        <thead>
            <tr>
                <th>Source</th>
                <th>title</th>
                <th>PublishedDate</th>
                <th>unique_id</th>
            </tr>
            </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td> {{ row[2] }} </td>
                <td><a href ="{{row[3]}}" target="_blank">{{row[3]}}</a></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
    function myfunction() {
        pass
    }
</script>
{% endblock %}
